<h1>Register</h1>

<form>
    <div class="p-field">
        <label for="username">Username    </label> :
        <input id="username" type="text" pInputText [(ngModel)]="username" name="username" required>
    </div>
  
    <div class="p-field">
        <label for="email">Email   </label> :
        <input id="email" type="email" pInputText [(ngModel)]="email" name="email" required>
    </div>
 
    <div class="p-field">
        <label for="password">Password     </label> :
        <input id="password" type="password" pInputText [(ngModel)]="password" name="password" required>
    </div>

    <div class="p-field">
        <label for="confirmPassword">Confirm Password    </label>  :
        <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
 
    <button type="submit" pButton label="Register" (click)="register()" [disabled]="!username || !password || !confirmPassword"></button>
</form>
<p>Already registered? <a routerLink="/">Login here</a>.</p>